body{
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik Glitch Pop', system-ui;
}
.shadow{
    background-color: rgb(252, 252, 252);
    text-shadow: 1px;
    padding-bottom: 30px;
}

.box{
        width: 30px;
        height: 250px;
        border: 5px solid rgb(145, 150, 145);
        padding: 20px;
        margin: 0px;
}

.box p{
    transform: rotate(-90deg);
    display: flex;
    align-items: ;


}


.image1{
    margin-top: 8px;
    height: auto;
    width: 60px;
}

.content{
    margin-top: -44px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}

.content a{
    
    text-decoration: none;
    color: black;
    font-size: 23px;
    text-shadow: 1px;
   
}

a:hover{
    color: lightcoral;
}

input[type=text]{
    border: 6px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 1px 1px 1px 1px;
}

#carouselExampleCaptions{
    color: black;
}

#carouselExampleCaptions{
    margin-top: 50px;
}

.image2{
    width: 1440px;
    height: 400px;
}

.image3{
    width: 1440px;
    height: 400px;
}

/*.carousel-control-prev{
    color: black;
}*/
.buttondiv button{
color: red;
}

.head{
    font-size: 40px;
    color: rgb(97, 98, 100);
    margin-left: 46px;
    text-transform: uppercase;
    margin-top: 40px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-transform: uppercase;
    font-size: 22px;
}

p:nth-of-type(1){
    margin-left: 40px;
}

p:nth-of-type(2){
    margin-left: 88px;
}
p:nth-of-type(3){
    margin-left: 139px;
}


  p:nth-of-type(4){
        margin-left: 187px;
    }

    .head2{
        font-size: 40px;
        color: rgb(97, 98, 100);
        margin-left: 46px;
        text-transform: uppercase;
        margin-top: 40px;
    }
    
    .options2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }

    .heading2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-transform: uppercase;
        font-size: 22px;
    }
    
    p:nth-of-type(1){
        margin-left: 40px;
    }
    
    p:nth-of-type(2){
        margin-left: 88px;
    }
    p:nth-of-type(3){
        margin-left: 139px;
    }
    
    
      p:nth-of-type(4){
            margin-left: 187px;
        }

        .head3{
            font-size: 40px;
            color: rgb(97, 98, 100);
            margin-left: 46px;
            text-transform: uppercase;
            margin-top: 40px;
        }

        .options3{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        .options4{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        .options5{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        footer{
            display: flex;
            flex-direction: row;
            margin-top: 110px;
            justify-content: space-between;
            color:rgb(97, 98, 100) ;
            background-color: lightgrey;
        }

        h1{
            margin-left: -28px;
        }

        h2{
            margin-left: -24px;
        }